<div id="medicom_header-sticky-wrapper" class="sticky-wrapper" style="height: 147px;">
  <header id="medicom_header" class="medicom-header header-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
             <!-- Main Menu -->
          <nav class="navbar navbar-default header-1" role="navigation">
              <div class="navbar-header">
                <a class="logo_link" href="#">
                  <img src="assets/logo.jpeg" alt="Hyderabad Cancer  Center" class="logo">
                </a>
  
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
  
              </div>
              <div class="mytopbar">
                <i class="fas fa-phone"></i>
                <span style="font-family: yu gathic light;font-weight: bold"> &nbsp;044123456789</span>
                &nbsp;
                <span>
                  <i class="fab fa-whatsapp"></i>
                  <span style="font-family: yu gathic light;font-weight: bold">
                    9874561230
                  </span>
                </span>
  
              </div>
  
              <div class="collapse navbar-collapse navbar-ex1-collapse">
  
                <ul id="menu-main-menu" class="nav navbar-nav navbar-left">
  
                  <li id="nav-menu-item-1" class="firstitem menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  dropdown">
                    <a class="menu-link" routerLink="/" routerLinkActive="active"class="menu-link">HOME</a>
                  </li>
                  <li id="nav-menu-item-2" class="firstitem menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children multi dropdown">
                    <a routerLink="/About" routerLinkActive="active"class="menu-link">
                      ABOUT US
                    </a>
                  </li>
                  <li id="nav-menu-item-3" class="firstitem menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children multi dropdown">
                    <a routerLink="/Contact" routerLinkActive="active"class="menu-link" class="menu-link">
                      CONTACT US
                    </a>
                  </li>
                  <!-- <li id="nav-menu-item-5" class="firstitem menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children multi dropdown">
                    <a href="#" class="menu-link">
                      DEPARTMENTS
                    </a>
                   
  
                  </li> -->
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">DEPARTMENTS <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">ONCOLOGY</a></li>
                        <hr>
                        <li><a href="#">GYNACOLOGY</a></li>
                     
                      </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DIAGNOSIS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">X-RAY</a></li>
                          <hr>
                          <li><a href="#">CBP</a></li>
                          <!-- <li><a href="#">Page 1-3</a></li> -->
                        </ul>
                      </li>
              
                </ul>
                
              </div>
              <!-- /.navbar-collapse -->
  
            </nav>
          
        </div>
        <div class="appntwdgt" style="margin: 0px;
    float: right;
    margin-top: -6%;
    z-index: 40000;">

        </div>
      </div>
    </div>
  </header>
</div>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->