.slide
{
    border-top: 1px solid #1e205b;
    border-bottom: 1px solid #1e205b;
}
@media (max-width:600px) {
.slide{
    margin-top: 56px;
}
.a
{
    color:#1e205b;
}
h2
{
    color:#1e205b;
}
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #1e205b;
    /* font-weight: 100; */
    font-size: 15px;
}
.scrol
{
    overflow: auto;
    height: 330px;
    text-align: justify
}
.panel-group .panel+.panel {
     margin-top: 0px !important;
}